/*@import "compass/reset";*/
@import "compass/layout";
@import "compass/css3";

body{
	overflow: hidden;
	font-family: helvetica, serif;
	@include user-select(none);
}


.header{
	position:absolute;
	left:200px;
	right:200px;
	height:100px;

	border:1px solid #f2f6f8;
	border-radius: 0px 0px 50px 50px;
	box-shadow: 0px 1px 3px 1px rgba(71,71,71,1);

	.lesson-name{
		position:absolute;
		margin: 50%;
		bottom:0;
		width: 100px;
		height: 20px;
		border:1px solid #f2f6f8;
		border-radius: 0px 0px 50px 50px;
		box-shadow: 0px 1px 3px 1px rgba(71,71,71,1);
	}
}

@import "whiteboard";
@import "common-form";
@import "lesson-teacher";
@import "lesson-student";
