$header-height : 0px;
$toolbar-width : 80px;
@mixin transtion($transtion...){
	-moz-transition:$transtion;
	-webkit-transition:$transtion;
	-o-transition:$transtion;
	-ms-transition:$transtion;
	transition:$transtion;
}
.lesson-teacher{



	.toolbar{
		background: #f2f6f8;
		width:$toolbar-width;
		position: absolute;
		top:$header-height;
		bottom:0px;
		border-right:1px solid #dde6e5;
		border-radius: 0px 30px 30px 0px;
		box-shadow: 2px 0px 3px 0px rgba(71,71,71,1);
		padding-top: 50px;
		padding-left:3px;
		padding-right:3px;

		.toolbar-row{
			position:relative;
			margin-top:10px;

			.right{
				position:absolute;
				right: 0;
			}
		}
	}

	.room-users {
		position:absolute;
		right: 20px;
		top:50px;
		z-index: 2;
	}

	.canvas{
		position:absolute;
		z-index: 1;
		top:$header-height;
		bottom: 0;
		left: $toolbar-width;
		right: 0;

		#svg{
			border-left:1px solid red;
		}
	}
}

// .toolbar

.toolbar{

	.pen-color{
		height: 20px;
		width: 30px;
		background:red;
		float: right;
	}
	
	.pen-width{
		.range {
			-webkit-appearance: none;
			border-radius: 5px;
			box-shadow: inset 0 0 5px #333;
			background: black;
			height: 10px;
			vertical-align: middle;
		}
		.range::-webkit-slider-thumb {
			-webkit-appearance: none !important;
			border-radius: 20px;
			background-color: #FFF;
			border: 1px solid #999;
			height: 20px;
			width: 20px;
		}
	}
}






