<div class="whiteboard">
	
	<!-- <div class="header text-center">
		<div class="header-bar lessonName">lessonName:taoyage</div>
		<div class="header-bar student">student:taoyage</div>
		<div class="header-bar mic">mic:<i class="fa fa-circle"></i></div>
		<div class="header-bar username">username:taoyage</div>
	</div> -->


	<div class="toolbar">
		
		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-undo fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-repeat fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

	</div>

	<div class="right-bar">
		<!-- <table class="table text-center">
			<tr>
				<td class="info">
				<p><i class="fa fa-user"></i>: taoyage</p> 
				<p>lesson: taoyage</p>
				</td>
			</tr>
			<tr>
				<td>用户</td>
			</tr>
			<tr>
				<td>用户</td>
			</tr>
			<tr>
				<td>用户</td>
			</tr>
		</table> -->
		<ul class="list-group text-center">

			<li class="list-group-item disabled">
				<p>lesson:  taoyage</p>
				<p><i class="fa fa-user"></i>:   taoyage</p>
			</li>

			<li class="list-group-item">
				<span class="badge">3</span>
				Student
			</li>

			<li class="list-group-item">
				<i class="fa fa-cog"></i>
				seting up
			</li>

			<li class="list-group-item">
				<i class="fa fa-cog"></i>
				seting up
			</li>

			<li class="list-group-item">
				<i class="fa fa-cog"></i>
				seting up
			</li>

		</ul>

	</div>

	<div class="canvas">
		<canvas id="canvas"></canvas>
	</div>
</div>





