<div class="whiteboard">
	
	<div class="header"></div>


	<div class="toolbar">

		
		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-undo fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-repeat fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

		<div class="toolbar-item">
			<button class="btn btn-info toolbar-button">
				<i class="fa fa-eraser fa-lg"></i>
			</button>
		</div>

	</div>

	<div class="right-bar">
		<ul class="list-group text-center">

			<li class="list-group-item list-color">
				<p>lesson:  taoyage</p>
				<p><i class="fa fa-user"></i>:   taoyage</p>
			</li>

			<li class="list-group-item">
				<span class="badge">3</span>
				Student
			</li>

			<li class="list-group-item">
				<i class="fa fa-cog"></i>
				seting up
			</li>

			<li class="list-group-item">
				<i class="fa fa-cog"></i>
				seting up
			</li>

			<li class="list-group-item">
				<i class="fa fa-cog"></i>
				seting up
			</li>

		</ul>

	</div>

	<div class="canvas">
		<canvas id="canvas"></canvas>
	</div>
</div>





